.container-list {
    margin-left: 75vh;
    height: 59.5vh;
    background-color: #f3f4f6;
    margin-top: 10vh;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #258e05;
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #00ad0c;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #009b17;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container-list {
        margin-left: 5vh;
        height: auto;
        margin-top: 5vh;
    }
}

@media (max-width: 480px) {
    .container-list {
        margin-left: 2vh;
        margin-top: 2vh;
    }

    .input-field, .submit-button {
        padding: 0.5rem;
    }
}